.banner{
    background-color: rgb(84, 61, 213);
    text-align: center;
    padding-top: 35px;
}

.banner-img{
    padding-top: 30px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 10px;
    border-radius: 30px;
    width: 180px;
}

.banner-container{
    padding-top: 40px;
}

.banner-container h1{
    padding-top: 20px;
    color: #fff;
}

.banner-container p{
    color: #fff;
    padding-bottom: 20px;
}

.banner-btn{
    color: rgb(84, 61, 213);
    border: 1px solid #fff;
    padding: 8px;
    border-radius: 5px;
    font-weight: 600;
    background-color: #fff;
}

.banner-btn:hover{
    color: #fff;
    background-color: rgb(84, 61, 213);
}
.wave{
    width: 100%;
}